/* -------------- Reseteo de etiquetas ------------- */
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- Etiquetas generales ---------- */

body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

button{
    width: 95%;
    height: 3.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #06065a;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

button:hover{
    background-color: white;
    color: #06065a;
    font-weight: bold;
}

/* ----------- Metodologia BEM ----------*/

/* SECCION 1: Inicio */

.cabecero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/fondo3.jpg");
    background-size:auto;
    /* opacity: 90%; */
}

.cabecero__navegador{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cabecero__navegador__lista{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.cabecero__seccion{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cabecero__seccion__titulo{
    color: white;
    font-size: 5rem;
    width: 50%;
}


/* SECCION 2: AGENDA */

.principal{
    width: 100%;
    height: 100%;
}

.principal__agenda{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #06065a;
    color: aqua;
}

.principal__agenda__titulo{
    height: 20%;
    width: 80%;
    text-align: center;
}

.principal__agenda__tabla{
    width: 50%;
    height: 50%;
}


.hora{
    font-size: 3rem;
} 

.texto{
    font-size: 1.2rem;
}


/* SECCION 3: Ponentes */


.principal__ponentes{
    width: 100%;
    height: 100%;
    display:flex;

    background-color: #d9385f;
    color: #06065a;
}

.principal__ponentes__articulo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal__ponentes__articulo__imagen{
    height: 90%;
    width: 100%;
}

.fondo-ponente1{
    background-image: url("../assets/ponente1.jpg");
    background-size:cover;
    background-position: center;
}

.fondo-ponente2{
    background-image: url("../assets/ponente2.jpg");
    background-size:cover;
     background-position: center;
}

.fondo-ponente3{
    background-image: url("../assets/ponente3.jpg");
    background-size:cover;
     background-position: center;
}

.fondo-ponente4{
    background-image: url("../assets/ponente4.jpg");
    background-size:cover;
    background-position: center;
}

.principal__ponentes__articulo__texto{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.principal__ponentes__articulo__titulo{
    display: none;
}

.principal__ponentes__articulo__tabla{
    width: 85%;
    font-size: 1.05rem;
    margin-top:1rem;
    display: none;
}

.principal__ponentes__articulo__tabla--ele{
    border: solid 0.15rem;
}

.numero{
    font-weight: bold;
}

/*----------------------- JS ------------------------*/
.fondo-js{
    background-image:none;
    background-color: #d9385f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    text-align: center;
}